body
	font-size 16Px

.clear
	zoom 1

.clear:after
	display block
	clear both
	content ''

.mobile-wrap
	position relative

.section
	position relative
	height 100%

.section-one
	.df
		display flex
		flex-direction column
		height 100%

	.top
		position relative
		display flex

		.left-top, .right-top
			display block
			width 50%

			img
				display block
				width 100%

		.middle-container
			position absolute
			top 50%
			left 50%
			width 432px
			transform translate(-50%, -50%)

			img
				display block
				width 100%

			.middle-wrapper
				position absolute
				top 50%
				left 50%
				width 388px
				transform translate(-50%, -50%)

			.title
				position absolute
				top 50%
				left 50%
				width 340px
				transform translate(-50%, -50%)

	.bottom
		display flex
		flex 1 1 auto
		flex-direction column
		justify-content center
		align-items center

		img
			display block
			width 100%

		.icon
			display block
			width 40px

		h2
			padding 20px 0 12px
			width 218px

		.en
			width 152px

		.sub
			padding 16px 0 10px
			width 234px

		.line
			width 512px
			height 1px
			background #b50007

		.count-down-container
			display flex
			justify-content space-between
			align-items center
			margin 0 auto
			padding-top 20px
			width 450px
			height 216px

			.text
				width 65px

			.wrapper
				display flex
				flex-direction column
				justify-content space-between
				align-items center
				overflow hidden
				width 216px
				height 216px
				border 1px solid #b50007
				border-radius 50%

				.title, .end-time, .day
					display flex
					justify-content center
					align-items center

				.title, .end-time
					flex 0 0 60px
					height 60px

				.title
					width 80px

				.end-time
					width 100px

				.day
					flex 1 1 auto
					width 100%
					border-top 1px solid #b50007
					border-bottom 1px solid #b50007
					color #c42418
					font-size 26px

					span
						font-size 90px
						line-height 1

					i
						vertical-align 10%

.section-two
	height 100vh

	.df
		display flex
		flex-direction column
		justify-content center
		align-items center
		height 100%

	img
		display block
		width 100%

	.header
		padding-bottom 60px

		.title
			margin 0 auto
			width 397px

		.sub
			margin 0 auto
			padding-top 10px
			width 152px

		.child-title
			margin 0 auto
			padding 16px 0 10px
			width 234px

		.line
			width 512px
			height 1px
			background #b50007

	.content
		position relative
		width 100%
		height 610px

		.bg
			position absolute
			top 0
			right 0
			bottom 0
			left 0
			z-index -1
			display flex
			justify-content center
			align-items center

		.area
			position absolute
			top 0
			right 35px
			bottom 0
			left 35px
			z-index -1
			border 1px solid #b50007

		.brand
			margin-top -45px
			width 143px

		p
			margin 0 auto
			padding-top 20px
			width 264px

	.footer
		display flex
		justify-content center
		align-items center
		margin-top 40px
		width 100%
		height 150px
		background #f8faf9

		div
			width 505px

.section-three
	height 100vh

	.df
		display flex
		flex-direction column
		justify-content space-between
		align-items center
		height 100%
		overflow hidden

	img
		display block
		width 100%

	.header
		padding 30px 0 0

		.title
			margin 0 auto
			width 297px

		.sub
			margin 0 auto
			padding-top 10px
			width 152px

		.child-title
			margin 0 auto
			padding 16px 0 10px
			width 234px

		.line
			width 512px
			height 1px
			background #b50007
		
		p
			margin 0 auto
			padding-top 20px
			width 484px

	.footer
		position relative
		width 100%
		height 640px
		flex 0 0 640px
		.beer
			width 100%
			position absolute
			bottom 0
			left 0
			right 0
		.round
			position absolute
		.round-1
			bottom 327px
			left 28px
			width 172px
		.round-2
			bottom 510px
			left 182px
			width 110px
		.round-3
			bottom 495px
			left 340px
			width 143px
		.round-4
			bottom 520px
			left 534px
			width 108px
		.round-5
			bottom 300px
			width 172px
			left 570px

					
.container
html
body
.mobile-wrap
.swiper-container
	width 100%
	height 100%
.section-four
	.celebrate
		height 100%
		display flex
		justify-content space-between
		flex-direction column
.section-five
	.taste
		padding-bottom 0
		height 100%
		display flex
		justify-content space-between
		flex-direction column

/*
2333
*/