body
	font-size 16Px

.clear
	zoom 1

.clear:after
	display block
	clear both
	content ''

.mobile-wrap
	position relative

.section
	position relative
	height 100%

.swiper-pagination-bullet
	border 1px solid #000
	width 16px
	height 16px
.swiper-pagination-bullet-active
	border-color #000
	opacity 0.2
	background none
.section-one
	.df
		display flex
		flex-direction column
		height 100%

	.top
		position relative
		display flex

		.left-top, .right-top
			display block
			width 50%

			img
				display block
				width 100%

		.middle-container
			position absolute
			top 50%
			left 50%
			width 432px
			transform translate(-50%, -50%)

			img
				display block
				width 100%

			.middle-wrapper
				position absolute
				top 50%
				left 50%
				width 388px
				transform translate(-50%, -50%)

			.title
				position absolute
				top 50%
				left 50%
				width 340px
				transform translate(-50%, -50%)

	.bottom
		display flex
		flex 1 1 auto
		flex-direction column
		justify-content center
		align-items center

		img
			display block
			width 100%

		.icon
			display block
			width 40px

		h2
			padding 20px 0 12px
			width 218px

		.en
			width 152px

		.sub
			padding 16px 0 10px
			width 234px

		.line
			width 512px
			height 1px
			background #b50007

		.count-down-container
			display flex
			justify-content space-between
			align-items center
			margin 0 auto
			padding-top 20px
			width 450px
			height 216px

			.text
				width 65px

			.wrapper
				display flex
				flex-direction column
				justify-content space-between
				align-items center
				overflow hidden
				width 216px
				height 216px
				border 1px solid #b50007
				border-radius 50%

				.title, .end-time, .day
					display flex
					justify-content center
					align-items center

				.title, .end-time
					flex 0 0 60px
					height 60px

				.title
					width 80px

				.end-time
					width 100px

				.day
					flex 1 1 auto
					width 100%
					border-top 1px solid #b50007
					border-bottom 1px solid #b50007
					color #c42418
					font-size 26px

					span
						font-size 90px
						line-height 1

					i
						vertical-align 10%

.section-two
	height 100%

	.df
		display flex
		flex-direction column
		justify-content center
		align-items center
		height 100%

	img
		display block
		width 100%

	.header
		padding-bottom 60px

		.title
			margin 0 auto
			width 397px

		.sub
			margin 0 auto
			padding-top 10px
			width 152px

		.child-title
			margin 0 auto
			padding 16px 0 10px
			width 234px

		.line
			width 512px
			height 1px
			background #b50007

	.content
		position relative
		width 100%
		height 610px

		.bg
			position absolute
			top 0
			right 0
			bottom 0
			left 0
			z-index -1
			display flex
			justify-content center
			align-items center

		.area
			position absolute
			top 0
			right 35px
			bottom 0
			left 35px
			z-index -1
			border 1px solid #b50007

		.brand
			margin-top -45px
			width 143px

		p
			margin 0 auto
			padding-top 20px
			width 264px

	.footer
		display flex
		justify-content center
		align-items center
		margin-top 40px
		width 100%
		height 150px
		background #f8faf9

		div
			width 505px

.section-three
	height 100%

	.df
		display flex
		flex-direction column
		justify-content space-between
		align-items center
		overflow hidden
		height 100%

	img
		display block
		width 100%

	.header
		padding 30px 0 0

		.title
			margin 0 auto
			width 297px

		.sub
			margin 0 auto
			padding-top 10px
			width 152px

		.child-title
			margin 0 auto
			padding 16px 0 10px
			width 234px

		.line
			width 512px
			height 1px
			background #b50007

		p
			margin 0 auto
			padding-top 20px
			width 484px

	.footer
		position relative
		flex 0 0 640px
		width 100%
		height 640px

		.beer
			position absolute
			right 0
			bottom 0
			left 0
			width 100%

		.round
			position absolute

		.round-1
			bottom 327px
			left 28px
			width 172px

		.round-2
			bottom 510px
			left 182px
			width 110px

		.round-3
			bottom 495px
			left 340px
			width 143px

		.round-4
			bottom 520px
			left 534px
			width 108px

		.round-5
			bottom 300px
			left 570px
			width 172px




.section-four
	.celebrate
		display flex
		flex-direction column
		justify-content space-between
		height 100%

.section-five
	.taste
		display flex
		flex-direction column
		justify-content space-between
		padding-bottom 0
		height 100%

		.center-box
			width 100%
			padding 0 4%
			margin 0

		.bottom-box
			width 100%

.section-six
	.df
		display flex
		flex-direction column
		justify-content space-between
		height 100%

	.lh
		display flex
		flex 1 1 auto
		flex-direction column
		width 100%

		.text, .box
			display flex
			flex 1 1 auto
			align-items center

html, body, .mobile-wrap, .swiper-container
	width 100%
	height 100%

.container
	height calc(100% - 50Px)
.bottom-menu
	position relative
	display flex
	justify-content space-between
	padding 10Px 0
	height 50Px
	text-align center
	background #de3b3b

	.btn-go-top
		flex 0 0 50Px
		width 50Px
		height 100%
		background url('../img/top.png') center center /70% auto no-repeat

	.total
		flex 1 1 auto
		color #ffffff
		font-size 14Px
		line-height 30Px
		border-left 1px solid #fff
		border-right 1px solid #fff
	.btn-go
		display block
		flex 0 0 100Px
		color #ffffff
		text-align center
		font-weight bold
		font-size 16Px
		line-height 30Px

/*
2333
*/